<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dictionary</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel='stylesheet prefetch' href='https://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css'>
    <script src="/bower_components/angular/angular.js"></script>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-sanitize.min.js'></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/linqjs/linq.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/textAngular/1.1.2/textAngular.min.js'></script>
    <script src="/scripts/index.js"></script>

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">Home</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div ng-app="App">
            <div ng-controller="AppController">
                <br />
                <br />
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-12">
                                <form>
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="dictionary.crud.lesson.word" placeholder="Title">
                                    </div>
                                    <div class="panel panel-primary">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div text-angular="text-angular" name="htmlcontent" ng-model="dictionary.crud.lesson.description"></div>
                                            </div>
                                            <button type="button" ng-click="dictionary.crud.add(dictionary.crud.lesson)" style: "height: 50px;" class="btn btn-default dropdown-toggle">+</button>
                                        </div>
                                    </div>
                                    <div class="col-md-offset-11">
                                        <button type="button" ng-click="dictionary.crud.atualizarInserir()" style: "height: 50px; float: right" class="btn btn-default">Submit</button>
                                    </div>
                                    </br>

                                </form>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input ng-model="dictionary.filter.word" ng-change="dictionary.search()" type="text" class="form-control" placeholder="Search for...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">

                        <div class="row panel panel-default">
                            <div class="panel-heading">Learned - Total {{dictionary.grid.wordsLearneds.pagination.totalItems}}</div>

                            <table class="table table-sm">

                                <tr>
                                    <th> <strong> Lesson </strong>
                                        <button type="button" ng-click="dictionary.grid.wordsLearneds.hide()" class="btn btn-xs btn-warning">
                                            <span class="glyphicon glyphicon-eye-open"> </span>
                                        </button>
                                        <button type="button" ng-click="dictionary.grid.wordsLearneds.show()" class="btn btn-xs btn-success">
                                            <span class="glyphicon glyphicon-eye-close"> </span>
                                        </button>
                                    </th>
                                    <th>Options</th>
                                </tr>
                                <tr clas="row" ng-repeat="word in dictionary.grid.wordsLearneds.listPagined">
                                    <td class="col-md-9">
                                        <button style="float: right;" type="button" ng-click="word.hide=!word.hide" class="btn btn-xs" ng-class="{'btn-success' : word.hide, 'btn-warning' : !word.hide }">
                                            <span ng-show="!word.hide"  class="glyphicon glyphicon-eye-open"> </span>
                                            <span ng-show="word.hide"  class="glyphicon glyphicon-eye-close"> </span>
                                        </button>

                                        <span ng-show="!word.edit"><strong>{{word.word}}</strong></span>

                                        <div ng-show="!word.hide">
                                            <ul style="margin-bottom:0px">
                                                <li ng-repeat="translate in word.translates">
                                                    <span ng-show="!translate.edit" ng-click="word.edit? translate.edit = true: translate.edit = false" data-toggle="tooltip" data-placement="right">
                                                        {{!translate.complement? translate.translate : translate.translate +" - "+ translate.complement}}
                                                    </span>

                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td class="col-md-3">
                                        <button type="button" ng-click="dictionary.crud.setToLearn(word)" class="btn btn-danger btn-xs">
                                        <span  class="glyphicon glyphicon-thumbs-down"> </span>
                                    </button>
                                    </td>
                                </tr>

                            </table>

                            <nav aria-label="Page navigation ">

                                <ul class="pagination" style="float: right">

                                    <li>
                                        <div class="btn-toolbar" role="toolbar">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-xs btn-default" ng-click="dictionary.grid.wordsLearneds.pagination.page(dictionary.grid.wordsLearneds.pagination.atualPage-1, dictionary.grid.wordsLearneds)"><<</button>
                                            </div>

                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-xs btn-default" ng-class="{selected : dictionary.grid.wordsLearneds.pagination.atualPage == item}" ng-repeat="item in dictionary.grid.wordsLearneds.pagination.pages" ng-click="dictionary.grid.wordsLearneds.pagination.page(item, dictionary.grid.wordsLearneds)">{{item}}</button>
                                            </div>

                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-xs btn-default" ng-click="dictionary.grid.wordsLearneds.pagination.page(dictionary.grid.wordsLearneds.pagination.atualPage+1, dictionary.grid.wordsLearneds)">>></button>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                  
                    <div class="col-md-6">

                        <div class="row panel panel-default">
                            <div class="panel-heading">To Learned - Total {{dictionary.grid.wordsToLearn.pagination.totalItems}}</div>

                            <table class="table table-sm">

                                <tr>
                                    <th><strong> Lesson </strong>
                                        <button type="button" ng-click="dictionary.grid.wordsToLearn.hide()" class="btn btn-xs btn-warning">
                                            <span class="glyphicon glyphicon-eye-open"> </span>
                                        </button>

                                        <button type="button" ng-click="dictionary.grid.wordsToLearn.show()" class="btn btn-xs btn-success">
                                            <span class="glyphicon glyphicon-eye-close"> </span>
                                        </button>
                                    </th>
                                    <th>Options</th>
                                </tr>
                                <tr clas="row" ng-repeat="word in dictionary.grid.wordsToLearn.listPagined">
                                    <td class="col-md-8">
                                        <button style="float: right;" type="button" ng-click="word.hide=!word.hide" class="btn btn-xs" ng-class="{'btn-success' : word.hide, 'btn-warning' : !word.hide }">
                                            <span ng-show="!word.hide"  class="glyphicon glyphicon-eye-open"> </span>
                                            <span ng-show="word.hide"  class="glyphicon glyphicon-eye-close"> </span>
                                        </button>

                                        <span ng-show="!word.edit"><strong>{{word.word}}</strong> </span>

                                        <div ng-show="!word.hide">
                                            <ul style="margin-bottom:0px">
                                                <span ng-show="!translate.edit" ng-click="dictionary.crud.editTranslate(word, translate)" ng-bind-html="word.description" data-toggle="tooltip" data-placement="right">
                                                </span>
                                        </div>
                                    </td>
                                    <td class="col-md-4">
                                        <button type="button" ng-click="dictionary.crud.delete(word._id, dictionary.grid.wordsToLearn)" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                        <button type="button" ng-click="dictionary.crud.edit(word)" class="btn btn-primary btn-xs">
                                            <span class="glyphicon glyphicon-edit"></span>
                                        </button>
                                        <button type="button" ng-click="dictionary.crud.update(word)" class="btn btn-warning btn-xs">
                                            <span class="glyphicon glyphicon-upload"> </span>
                                        </button>
                                        <button type="button" ng-click="dictionary.crud.setLearned(word)" class="btn btn-success btn-xs">
                                            <span  class="glyphicon glyphicon-thumbs-up"> </span>
                                        </button>
                                    </td>
                                </tr>

                            </table>

                            <nav aria-label="Page navigation">
                                <ul class="pagination" style="float: right">
                                    <li>
                                        <div class="btn-toolbar" role="toolbar">
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-xs btn-default" ng-click="dictionary.grid.wordsToLearn.pagination.page(dictionary.grid.wordsToLearn.pagination.atualPage-1, dictionary.grid.wordsToLearn)"><<</button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-xs btn-default" ng-class="{selected : dictionary.grid.wordsToLearn.pagination.atualPage == item}" ng-repeat="item in dictionary.grid.wordsToLearn.pagination.pages" ng-click="dictionary.grid.wordsToLearn.pagination.page(item, dictionary.grid.wordsToLearn)">{{item}}</button>
                                            </div>
                                            <div class="btn-group" role="group">
                                                <button type="button" class="btn btn-xs btn-default" ng-click="dictionary.grid.wordsToLearn.pagination.page(dictionary.grid.wordsToLearn.pagination.atualPage+1, dictionary.grid.wordsToLearn)">>></button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>
<style>
    button.selected {
        background-color: #e6e6e6
    }
    
    .ta-editor {
        min-height: 300px;
        height: auto;
        overflow: auto;
        font-family: inherit;
        font-size: 100%;
    }
</style>

</html>