<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Dictionary</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/scripts/index.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="#">Dictionary Trainning</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/views/index.html">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div ng-app="App">
            <div ng-controller="AppController">
                <br />
                <br />
                <br />
                <div class="row">

                    <div class="col-md-6">

                        <h3 class="center">Aprendidas nos ultimos 7 dias</h3>
                        <br />
                        <table class="table">

                            <tr>
                                <th>Word</th>
                                <th>Date</th>
                                <th>Translate
                                    <span ng-click="dictionary.hide()" style="cursor:pointer" class="label label-danger">Hide</span>
                                    <span ng-click="dictionary.show()" style="cursor:pointer" class="label label-success">Show</span>
                                </th>
                                <th>Delete Word</th>
                            </tr>
                            <tr clas="row" ng-repeat="word in dictionary.words">
                                <td class="col-md-3">
                                    <span ng-show="!word.edit">{{word.word}}</span>

                                    <div ng-show="word.edit">
                                        <div class="form-group">
                                            <input class="form-control" type="text" ng-model="word.word">
                                        </div>
                                    </div>
                                </td>
                                <td class="col-md-2">
                                    <span>{{word.date}}</span>
                                </td>
                                <td class="col-md-4">
                                    <button style="float: right;" type="button" ng-click="word.hide=!word.hide" class="btn btn-xs" ng-class="{'btn-success' : word.hide, 'btn-danger' : !word.hide }">{{word.hide? "Show":"Hide"}}</button>
                                    <div ng-show="!word.hide">
                                        <ul>
                                            <li ng-repeat="translate in word.translates">
                                                <span ng-show="!translate.edit" ng-click="word.edit? translate.edit = true: translate.edit = false" data-toggle="tooltip" data-placement="right" title="{{translate.complement}}">
                                                    {{translate.translate}}
                                                </span>

                                                <div ng-show="translate.edit && word.edit">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" ng-model="translate.translate">
                                                    </div>
                                                    <div class="form-group">
                                                        <textarea class="form-control" ng-model="translate.complement"></textarea>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <br/>
                                        <div ng-show="word.edit">
                                            <div class="row">
                                                <div class="panel panel-primary">
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <input class="form-control" type="text" ng-model="dictionary.alterWork.translate.translate">
                                                        </div>
                                                        <div class="form-group">
                                                            <textarea class="form-control" ng-model="dictionary.alterWork.translate.complement"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" ng-click="word.translate = dictionary.alterWork.translate; dictionary.add(word);" class="btn btn-default">+</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-2 col-md-offset-9">
                                                    <button type="button" ng-click="dictionary.update(word)" class="btn btn-default">OK</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </td>
                                <td class="col-md-3">
                                    <button type="button" ng-click="dictionary.delete(word._id)" class="btn btn-danger btn-xs">Excluir</button>
                                    <button type="button" ng-click="dictionary.edit(word)" class="btn btn-primary btn-xs"> Editar</button>
                                </td>
                            </tr>

                        </table>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-4">

                        <div class="row">
                            <form>
                                <div class="form-group">
                                    <label for="word">New Word</label>
                                    <input type="text" class="form-control" ng-model="dictionary.word" placeholder="Word">
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-footer">Translates</div>
                                    <div class="panel-body">

                                        <div class="form-group">
                                            <input type="text" class="form-control" style="height: 50px;" ng-model="dictionary.newWord.translate.translate" placeholder="Translate">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" style="height: 50px;" ng-model="dictionary.newWord.translate.complement" placeholder="Complement">
                                        </div>
                                        <button type="button" ng-click="dictionary.add(dictionary.newWord)" style: "height: 50px;" class="btn btn-default dropdown-toggle">+</button>
                                    </div>

                                </div>

                                <button type="button" ng-click="dictionary.insert()" style: "height: 50px;" class="btn btn-default">Submit</button>

                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>